<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-titleSection">
            <strong class="conteudo-title"><h2>About Us</h2></strong>
        </div>
    </div>
    <div class="about-us" style="text-align: justify; font-size: 16px;">
        <p>Training and Placement Portal is YMCA University's official Portal used by Training and Placement Department and Students. Here students can create there Personal, Academic and Skill profile. They can also register for the companies if they meet eligibility criteria. The Training and Placement Cell can create an opportunity as they get information from the companies. TPO can see the students registered for the companies. TPO can also mark the student who get job offer by the companies.</p>
        <p>The YMCAUST Training & Placement Cell has the goal to provide employment opportunities & world class training to YMCAUST students in leading organizations. </p>
        <p>YMCA University of Science & Technology is a pioneer institution that has been providing qualified, trained manpower to the industry since its inception as an Indo German project in 1969. It has produced a large number of entrepreneurs who are actively contributing to the socio-economical development of the country in general and the state of Haryana in particular. The friendly atmosphere with the faculty and staff members provides an atmosphere of home away from home.</p>
        <p>YMCA University of Science & Technology has emerged as one of the leading universities of the region. It has contributed immensely in the field of technical education and plays an important role in creating highly skilled technical manpower which is employable in an equally competitive market. The University offers Degree Courses (B.Tech, BBA, BCA, BS.c) and a number of Post Graduate Degree programmes like M.Tech., M.Sc., MBA, MCA and Ph.D. All engineering courses of the University are approved by AICTE.</p>
        <p>Since its inception in 1969, the curricula of the then institute, now University, has been widely acclaimed and accepted by the industries. One year industrial training of the students made them accustomed to industrial working conditions thereby making them preferential candidates for recruitment. The industrial training is still maintained for one semester and is highly beneficial for the students.</p>
        <p>The students also undergo one-semester training in their final year which is unique to the University and allows the students to have a firsthand experience of the corporate world.</p>
    </div>
    <div class="conteudo-inner">
        <div class="conteudo-titleSection">
            <strong class="conteudo-title"><h2>Developers</h2></strong> <br>
        </div>
    </div>
    <div style="display: inline-block;">
      &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; 
         <img src="https://jaxenter.com/wp-content/uploads/2016/07/Skill-Up-Survey-2016-350x350.png" height="230" width="230" style="border-radius: 50%; display: inline-block;"></div> &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; 
        <img src="https://jaxenter.com/wp-content/uploads/2016/07/Skill-Up-Survey-2016-350x350.png" height="230" width="230" style="border-radius: 50%; display: inline-block;"></div>
    </div>
</div>
