<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-titleSection">
            <strong class="conteudo-title"><h2>Support</h2></strong>
        </div>
    </div>
    <div class="about-us" style="text-align: justify; font-size: 16px;">
        <b>For assistance feel free to reach our developers:</b> <br> <a href="mailto:paras.aggarwal@outlook.com">Paras Aggarwal</a><br> <a href="mailto:aartiv171097@gmail.com">Aarti Verma</a>
        <br> <br>
        <b>You can also call them:</b> <br> Paras Aggarwal - &nbsp; &nbsp; +91 9992011441 <br> Aarti Verma - &nbsp; &nbsp; +91 9896776641
    </div>
</div>
